// Specific CSS for your home-page
// Specific CSS for your home-page
.home_html {
  width: 100%;
  height: 100vh;
  background-color: #fcf4d8;

}
body {
  background-color: #fcf4d8;
}

.back {
  width: 100%;
  height: 100%;
  background-image: url("bck.jpg");
  // padding-top: 300px;

}

.big_title {
  width: 45%;
  position: relative;
  padding-left: 60px;
  // padding-bottom: 100px;
  padding-top: 100px;

}
.home_h1 {
  font-size: 70px;
  line-height: 1.1;

}
.home_p {
  width: 80%;
  font-size: 25px;
  padding-top: 40px;
}






