// Import page-specific CSS files here.
@import "home";

.card-trip {
  overflow: hidden;
  background: white;
  position: relative;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height : 300px;
  width : 100%;
  margin-top: 20px;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 5px;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  height : auto;
  text-overflow: ellipsis;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -15px;
  width: 40px;
}

.container {
  display: flex;
  justify-content : space-around;
  align-items : center;
}

.card-link {
  height: 100%;
  width: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
}
