.game-show {
  background-color: white;
  margin-top: 10px;
  border-radius : 10px;
  padding-bottom: 20px;
  padding:20px;
}
.game-head{
  display:flex;
 justify-content: space-between;
}

.game-title{

}
.game-picture {
  width:70%;
  margin:0 auto;
}

.game-price {
  color : #000000;
  font-size: 30px;
  text-align: right;
  margin-top:20px;
  background-color: #fad878;
  border-radius:50px;
  padding:4px 20px;
  font-style: italic;
}

.avatar-bordered {
  width: 50px;
  border-radius: 50%;
  // box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 5px solid;
}

.game-user {
  justify-content: flex-start!important;
  align-items: center!important;
  display: flex;
  margin-top: 0 !important;
  padding : 10px;
  align-content: space-between;
  h2 {
    padding: 0 !important;
    margin: 0 !important;
    font-size: 25px;
    position: relative;
    top:20px;
    left: 10px;

  }
}

.game-title-desc {
  margin:20px auto;
  line-height: 200%;

}

.game-state{

  width:100px;
  position:absolute;
  right:40px;
  background-color:#f6a362;
  padding:4px 20px;
  font-size: 20px;
  border-radius:50px;
  text-transform: uppercase;
  text-align:center;
}

.btn-buy {
  background-color: #fad878;
  padding: 8px 24px;
  border-radius: 10px;
  font-weight: lighter;
  opacity: 1;
  transition: opacity 0.3s ease;
  color : #000000;
}
.btn-buy:hover {
  opacity: 0.8;

}

.btn-delete {
  background-color: #FC2431;
  padding: 8px 24px;
  border-radius: 10px;
  font-weight: lighter;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  color : white;
}
.btn-delete:hover {
  opacity: 1;
  color : white;
}
.btn-edit{

 background-color: #3393FF;
  padding: 8px 24px;
  border-radius: 10px;
  font-weight: lighter;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  color : white;

}
.btn-edit:hover {
  opacity: 1;
  color : white;
}
