.game-picture {
  border-radius : 10px;
  box-shadow : 1px 1px 1px grey;
  margin-left: 10px;
}

.game-price {
  color : #39193f;
  font-weight : bold;
  margin : 20px;
  font-size: 30px;
  margin-bottom: 5px;
}

.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.game-user {
  justify-content: flex-start!important;
  align-items: center!important;
  display: flex;
  margin-top: 0 !important;
  padding : 10px;
  h2 {
    padding: 0 !important;
    margin: 0 !important;
    font-size: 25px;
  }
}

.game-user > img {
  margin-right: 10px;
}

.game-show {
  background-color: white;
  margin-top: 10px;
  border-radius : 3px;
}

.game-title-desc {
  margin-left: 10px;
  h3 {
    margin: 0px;
  }
}
.btn-buy {
  background-color: #a23b4f;
  border: 1px solid #a23b4f;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  color : white;
}
.btn-buy:hover {
  opacity: 1;
  color : white;
}

.btn-delete {
  background-color: #a23b4f;
  border: 1px solid #a23b4f;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  color : white;
}
.btn-delete:hover {
  opacity: 1;
  color : white;
}
