  <div class="back">
    <%= image_tag('bck.png', class: 'background-img') %>
    <div class="big_title">
      <h1 class="home_h1">Your New<br/>Board Games<br/>Marketplace</h1>
      <p class="home_p">The best place to trade games between players</p>
    </div>
    <div class="home_div_btn">
      <br>
      <br>
      <button id="btn_home" class="btn_all"><%= link_to "Sign Up", my_profile_path %></button>
      <button class="btn_all"> <%= link_to "Go to Games", games_path %></button>

    </div>
  </div>
