<h1>Buy a game</h1>
<p>Because u'll never have enough !</p>

<div class="container">
  <div class="row">
    <% @games.each do |game| %>
      <div class="col-xs-6 col-md-3">
        <div class="card-trip">
          <img src="<%=game.picture%>">
          <div class="card-trip-infos">
            <div>
              <h2><%=game.name%></h2>
              <p><%=game.description%></p>
            </div>
            <h2 class="card-trip-pricing"><%=game.price%>€</h2>
            <img src='https://kitt.lewagon.com/placeholder/users/krokrob' class="card-trip-user avatar-bordered"/>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
