/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  text-align: center;
  text-transform: uppercase;
  color:#fff;
  font-size: 16px;
  width: 100%;
  border:none;
  margin:0;
  border-radius: 0;
}
.alert-info {
  background:  #fad878;
  color:#000;
  border:none;
  margin:0;
 padding-top: 3px;
}
.alert-warning {
  background: #f05d59;
  color:#fff;
  border:none;
  margin:0;
}
