// Import your components CSS files here.
@import "alert";
@import "navbar";
@import "card";

.search-bar{
  margin-top: 30px;
  width: 50%;
  margin: 30px auto;
  border-radius: 30px;
}

.form-search{
   border-radius: 30px;

}
