// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";
@import "pages/payment";

.cont-bordered {
  border: 3px solid #fad878;
  z-index : -1;
  border-radius: 10px;
  height : 100%;
  margin-top: 100px;
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.fas {
  color : #f05d59;
}
