<!-- Reviews#new
Find me in app/views/reviews/new.html.erb -->
<h3>Add a Review</h3>


<%= simple_form_for [@user, @review] do |f| %>
  <%= f.input :rate, collection: 0..5, include_blank: false %>
  <%= f.input :content %>
  <%= f.submit "add a review", class: "btn btn-primary" %>
<% end %>
